.song-container {
    min-height: 60vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    img {
        width: 20%;
        border-radius: 50%;
    }

    h2 {
        padding: 3rem 1rem 1rem 1rem;
    }

    h3 {
        font-size: 1rem;
    }
}

@keyframes rotating {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.song {
    &__img {
        animation-name: rotating;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        &-playing {
            animation-play-state: running;
        }
        &-paused {
            animation-play-state: paused;
        }
    }
}
